#showPokemonMainArea{
    background-color: beige;
    
}

#showPokemonMainArea h2{
    font-size: 2.5rem;
    text-align: center;
}

#showPokemonMainAreaContent{
    display: flex;
    flex-wrap: wrap;
}

.miniCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    width: 150px;
    margin: 10px;
    padding: 10px 10px;
    border: 5px solid;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.5) inset;
    border-radius: 10px;
    background-color: white ;    
}

.miniCard:hover{
    cursor: pointer;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

.miniCardName{
    text-align: center;
    font-weight: 500;
}

.miniCardId{
    text-align: end;
    font-style: italic;
    font-size: 0.8rem;
}

.miniCard img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.buttonReaderMorePokemon{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#overlay{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

}

#bigCardArea{
    position: relative;
    width: 500px;
    height: auto;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border: 2px solid lightgray;
    border-radius: 20px;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.8);
}



#closeBigCard{
    position: absolute;
    top: 10px;
    right: 10px;
}

.bigCardHeader{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0;
}

.bigCardName{
    display: flex;
    align-items: center;
}

#pokemonName{
    font-size: 1.5rem;
}

#shortDescription{
    margin-left: 5px;
    font-size: 0.8rem;
    font-style: italic;
}

#pokemonClass{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.pokemonSingleClass{
    padding: 2px 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.class_normal{
    background-color: #A8A878;
}
.cardBgClass_normal{
    background-color: #E0E0CF !important;
}

.class_fighting{
    background-color: #CC6363;
}

.class_flying{
    background-color: #CEBFFB;
}

.class_poison{
    background-color: #D878D8;
}

.class_ground{
    background-color: #f8eac4;
}

.class_rock{
    background-color: #C6A34B;
}

.class_bug{
    background-color: #C0FF3E;
}

.class_ghost{
    background-color: #d4cdea;
}
.class_steel{
    background-color: #E6E6EE;
}

.class_fire{
    background-color: #F9D2B6;
}

.class_water{
    background-color: #d0e2f5;
}

.class_grass{
    background-color: 	#ACEA8C;
}

.class_electric{
    background-color: #FBEBA8;
}

.class_psychic{
    background-color: #F99CB8;
}

.class_ice{
    background-color: #BDF3F3;
}

.class_dragon{
    background-color: #C09AFD;
}

.class_dark{
    background-color: 	#A2958D;
}

.class_fairy{
    background-color: white;
}

.class_unknown{
    background-color: #d5e6e1;
}

.class_shadow{
    background-color: 	#ab8ab4;
}

#pokemonClass div{
    margin-right: 5px;
}

.pokemonImgContainer{
    z-index: 2;
    
    display: flex;
    justify-content: center;
}

#pokemonImg{
    height: 250px;
}

.bigCardArea2{
    margin-top: -50px;
    padding: 50px;
    background-color: white;
    border-radius: 17px;
}

#carouselExampleControls{
    display: flex;
    height: 120px;
    margin-top: 20px;
    padding: 3px;
    background-color: white;
    border: 2px solid lightgray;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.2) inset;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

.carousel-inner{
    padding: 0 30px;

}

.carousel-control-prev-icon{
    margin-right: 30px;
}

.carousel-control-next-icon{
    margin-left: 30px;
}