header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 50px;
    background-color: bisque;
}

header h2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
}

.changeLanguageArea{
    display: flex;
}

.changeLanguageArea div{
    padding-left: 10px;
}

.buttonChangeLanguage:hover{
    cursor: pointer;
}