html{
    font-size: 16px;

    scroll-behavior: smooth;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 167, 167) !important;
    background-image: url(./img/background-1920.jpg);
}

.d-none{
    display: none;
}

.no-scroll{
    overflow: hidden;
}

.opacity{
    opacity: 1;
}