#showPokemonMainArea{
    position: absolute;
    z-index: 2;
    top:10vh;
    height: 85vh;
    padding-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: beige;
    border: 3px solid lightgray;
    border-radius: 10px;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.5) inset;
    overflow-y: scroll;
    
}

#showPokemonMainArea::-webkit-scrollbar {
    width: 15px;
}

#showPokemonMainArea::-webkit-scrollbar-track {
    background-color: beige;
    border: 1px solid lightgray;
    border-radius: 16px;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.5) inset;
}

#showPokemonMainArea::-webkit-scrollbar-thumb {
    border-radius: 110px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #8a8a8a;
  }

#showPokemonMainAreaContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.miniCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    width: 150px;
    margin: 10px;
    padding: 10px 10px;
    border: 5px solid;
    border-color: black;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.5) inset;
    border-radius: 10px;
    background-color: white ;    
}

.miniCard:hover{
    cursor: pointer;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

.miniCardName{
    text-align: center;
    font-weight: 500;
}

.miniCardId{
    text-align: end;
    font-style: italic;
    font-size: 0.8rem;
}

.miniCard img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.buttonReaderMorePokemon{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

