#overlay{
    z-index: 2 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100000vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

#bigCardArea{
    position: fixed;
    top: 13%;
    width: 500px;
    max-height: 83vh;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border: 2px solid lightgray;
    border-radius: 20px;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.8);
    overflow-y: auto;
}



#closeBigCard{
    position: absolute;
    top: 10px;
    right: 10px;
}

#closeBigCard{
    cursor: pointer;
}

.bigCardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px 0 20px;
}

.bigCardName{
    display: flex;
    align-items: center;
}

#pokemonName{
    font-size: 1.5rem;
}

#shortDescription{
    margin-left: 5px;
    font-size: 0.8rem;
    font-style: italic;
}

#pokemonClass{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.pokemonSingleClass{
    padding: 2px 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.class_normal{
    background-color: #A8A878;
}

.cardBgClass_normal{
    background-color: #E0E0CF !important;
}

.cardBorderColor_normal{
    border-color: #A8A878 !important;
}

.class_fighting{
    background-color: #993300;
}

.cardBgClass_fighting{
    background-color: #CC6363 !important;
}

.cardBorderColor_fighting{
    border-color: #993300 !important;
}

.class_flying{
    background-color: #A890F0;
}

.cardBgClass_flying{
    background-color: #CEBFFB !important;
}

.cardBorderColor_flying{
    border-color: #A890F0 !important;
}

.class_poison{
    background-color: #A040A0;
}

.cardBgClass_poison{
    background-color: #D878D8 !important;
}

.cardBorderColor_poison{
    border-color: #A040A0 !important;
}

.class_ground{
    background-color: #e0cc94;
}

.cardBgClass_ground{
    background-color: #f8eac4 !important;
}

.cardBorderColor_ground{
    border-color: #e0cc94 !important;
}

.class_rock{
    background-color: #99700D;
}

.cardBgClass_rock{
    background-color: #C6A34B !important;
}

.cardBorderColor_rock{
    border-color: #99700D !important;
}

.class_bug{
    background-color: #9ACD32;
}

.cardBgClass_bug{
    background-color: #C0FF3E !important;
}

.cardBorderColor_bug{
    border-color: #9ACD32 !important;
}

.class_ghost{
    background-color: #bfaeda;
}

.cardBgClass_ghost{
    background-color: #d4cdea !important;
}

.cardBorderColor_ghost{
    border-color: #bfaeda !important;
}

.class_steel{
    background-color: #B8B8D0;
}

.cardBgClass_steel{
    background-color: #E6E6EE !important;
}

.cardBorderColor_steel{
    border-color: #B8B8D0 !important;
}

.class_fire{
    background-color: #F08030;
}

.cardBgClass_fire{
    background-color: #F9D2B6 !important;
}

.cardBorderColor_fire{
    border-color: #F08030 !important;
}

.class_water{
    background-color: #acc9e6;
}

.cardBgClass_water{
    background-color: #d0e2f5 !important;
}

.cardBorderColor_water{
    border-color: #acc9e6 !important;
}

.class_grass{
    background-color: #78C850;
}

.cardBgClass_grass{
    background-color: #ACEA8C !important;
}

.cardBorderColor_grass{
    border-color: #78C850 !important;
}

.class_electric{
    background-color: #F5C826;
}

.cardBgClass_electric{
    background-color: #FBEBA8 !important;
}

.cardBorderColor_electric{
    border-color: #F5C826 !important;
}

.class_psychic{
    background-color: #F85888;
}

.cardBgClass_psychic{
    background-color: #F99CB8 !important;
}

.cardBorderColor_psychic{
    border-color: #F85888 !important;
}

.class_ice{
    background-color: #98D8D8;
}

.cardBgClass_ice{
    background-color: #BDF3F3 !important;
}

.cardBorderColor_ice{
    border-color: #98D8D8 !important;
}

.class_dragon{
    background-color: #6699CC;
}

.cardBgClass_dragon{
    background-color: #C09AFD !important;
}

.cardBorderColor_dragon{
    border-color: #6699CC !important;
}

.class_dark{
    background-color: 	#705848;
}

.cardBgClass_dark{
    background-color: #A2958D !important;
}

.cardBorderColor_dark{
    border-color: #705848 !important;
}

.class_fairy{
    background-color: rgb(255, 131, 245);
}

.cardBgClass_fairy{
    background-color: rgb(255, 170, 248) !important;
}

.cardBorderColor_fairy{
    border-color: rgb(255, 131, 245) !important;
}

.class_unknown{
    background-color: #a3bfb7;
}

.cardBgClass_unknown{
    background-color: #d5e6e1 !important;
}

.cardBorderColor_unknown{
    border-color: #a3bfb7 !important;
}

.class_shadow{
    background-color: 	#834196;
}

.cardBgClass_shadow{
    background-color: #ab8ab4 !important;
}

.cardBorderColor_shadow{
    border-color: #834196 !important;
}

#pokemonClass div{
    margin-right: 5px;
}

.pokemonImgContainer{
    z-index: 2;
    
    display: flex;
    justify-content: center;
}

#pokemonImg{
    margin-top: -70px;
    height: 250px;
}

.bigCardArea2{
    margin-top: -50px;
    padding: 50px 50px 50px;
    background-color: white;
    border-radius: 17px;
}

#carouselExampleControls{
    display: flex;
    height: max-content;
    min-height: 120px;
    margin-top: 20px;
    padding: 3px;
    background-color: white;
    border: 2px solid lightgray;
    box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.2) inset;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

.carousel-inner{
    padding: 0 30px;
}

.carousel-control-prev-icon{
    margin-right: 30px;
}

.carousel-control-next-icon{
    margin-left: 30px;
}